.supportSubject {
    font: 12pt calibri,sans-serif;
}

.supportSubject img {
    display: none;
}

/*
.adminThreadReply  {
    width: 1596px !important;
}

.threadsTable .RadGrid {
   width: 1560px !important;
}

.admPageRight {
   width: 1560px !important;
   float: left !important;
}

.adminThreadReply .adminInnerLeft {
    width: 1268px !important;
}

.adminInnerThreadBox .adminInnerRight {
    left: 1276px !important;
}

.admContentWrap {
    margin-left: 20px !important;
    width: 1880px !important;
}
*/

.markAnswer {
   height: 35px !important;
}

.givePoints,
.messageHeaderClient,
.messageHeaderAdmin {
   padding: 4px !important;
}

.admShowTags {
   margin-bottom: 10px !important;
}

.frontend_codeinsert {
   color: #c5c5c5 !important;
}

body {
   text-rendering: initial !important;
}

.frontend_codeinsert {
   color: #fff !important;
}

.frontend_internalnote {
    color: #000 !important;
}

.adminMessageText .text {
    font: 12pt calibri,sans-serif;
}

.messageHeaderAdminWrap .messageDatesInfo {
    font: 12pt calibri,sans-serif;
}

.adminThreadReply h1.title span {
    font-size: 19px;
}

#supportNotification {
    display: none;
}

/*
.reWrapper {
   min-width: 1256px !important;
}
*/

/* common */

img[src="App_Themes/Dark/images/ticket-closed.gif"],
img[src="/App_Themes/Dark/images/ticket-closed.gif"]
{
    background-color: #93f6ff !important;
    margin-left: -50px !important;
    padding: 4px 50px !important;
}

/* AJAX */
img[src="images/ProductImages/button_ajax_16.png"],
img[src="images/ProductImages/editor_ajax_16.png"],
img[src="images/ProductImages/htmlchart_ajax_16.png"],

/* kendo */
/* dataviz */
img[src="images/ProductImages/barchart_kendoui.png"],
img[src="images/ProductImages/barchart_kendoui_mvc.png"],
img[src="images/ProductImages/barchart_kendoui_php.png"],
img[src="images/ProductImages/barchart_core.png"],

img[src="images/ProductImages/barcode_kendoui.png"],

img[src="images/ProductImages/bulletgraph_kendoui.png"],
img[src="images/ProductImages/bulletgraph_kendoui_mvc.png"],
img[src="images/ProductImages/bulletgraph_kendoui_php.png"],

img[src="images/ProductImages/Chart.png"],
img[src="images/ProductImages/chart_mvc.png"],

img[src="images/ProductImages/dataviz_kendoui.png"],
img[src="images/ProductImages/diagram_kendoui.png"],
img[src="images/ProductImages/diagram_kendoui_mvc.png"],

img[src="images/ProductImages/map_kendoui.png"],
img[src="images/ProductImages/map_kendoui_mvc.png"],

img[src="images/ProductImages/radialgauge_kendoui.png"],
img[src="images/ProductImages/sparklines_kendoui.png"],
img[src="images/ProductImages/sparklines_kendoui_mvc.png"],

img[src="images/ProductImages/editor_kendoui.png"],
img[src="images/ProductImages/editor_kendoui_mvc.png"],

/* buttons */
img[src="images/ProductImages/button_kendoui.png"],
img[src="images/ProductImages/button_kendoui_mvc.png"],

img[src="images/ProductImages/menu_kendoui.png"],
img[src="images/ProductImages/menu_kendoui_mvc.png"],

img[src="images/ProductImages/pager_kendoui.png"],
img[src="images/ProductImages/pager_kendoui_mvc.png"],

img[src="images/ProductImages/toolbar_kendoui.png"],
img[src="images/ProductImages/toolbar_kendoui_mvc.png"],

/* forms */
img[src="images/ProductImages/slider_kendoui.png"],
img[src="images/ProductImages/slider_kendoui_mvc.png"],

img[src="images/ProductImages/switch_kendoui.png"],
img[src="images/ProductImages/switch_kendoui_mvc.png"],

img[src="images/ProductImages/colorpicker_kendoui.png"],
img[src="images/ProductImages/colorpicker_kendoui_mvc.png"],

img[src="images/ProductImages/rating_kendoui.png"],
img[src="images/ProductImages/rating_kendoui_mvc.png"],

img[src="images/ProductImages/checkbox_kendoui.png"],
img[src="images/ProductImages/checkbox_kendoui_mvc.png"],

img[src="images/ProductImages/radiobutton_kendoui.png"],
img[src="images/ProductImages/radiobutton_kendoui_mvc.png"],

/* modals */
img[src="images/ProductImages/notification_kendoui.png"],
img[src="images/ProductImages/notification_kendoui_mvc.png"],


img[src="images/ProductImages/progressbar_kendoui.png"],
img[src="images/ProductImages/progressbar_kendoui_mvc.png"],

img[src="images/ProductImages/tooltip_kendoui.png"],
img[src="images/ProductImages/tooltip_kendoui_mvc.png"],

img[src="images/ProductImages/Window.png"],
img[src="images/ProductImages/window_kendoui.png"],
img[src="images/ProductImages/window_kendoui_mvc.png"]
{
    background-color: #bbb !important;
    margin-left: -50px !important;
    padding: 4px 50px !important;
}

.frontend_internalnote {
    color: #000 !important;
}

#supportNotification {
    display: none;
}
