@-moz-document url("chrome://browser/content/browser.xul") {
/* Browser Background */
    browser[type="content-primary"] {
    /*background-color: #1a1a1a !important; */
    }
}

@-moz-document url("about:newtab") {
window {
    background: #000000 !important;
    }

    #newtab-scrollbox {
    background: transparent none !important;
    }

    .newtab-title {
    background-color: rgba(0,0,0,.75) !important;
    color: #eee !important;
    }
}

@-moz-document regexp("https?:\\/\\/(?!((www\\\\.)?(teams\\.microsoft\\.com))).*") {
/* Browser Background */
    browser[type="content-primary"] {
        background-color: #141414 !important;
    }
    /*No background images. try to exclude icons, other misc items. */
    *:not(:empty):not([onclick*="open"]):not(span):not([class*="stars"]):not([id*="stars"]):not([id="rating"]):not([class="rating"]):not([class*="prite"]):not([id*="prite"]):not([id*="lbImage"]) {
        background-image: none !important;
    }

    /* Basic Bodies */
    html,
    body {
        background: none #141414 !important;
    }

    /* Make descendents of the body element transparent.  Formerly "DIV + SPAN" rules. */
    body * {
        background-color: transparent !important;
    }

    /* Give id's BG hopefully */
    div[id] {
        background-color: inherit !important;
    }

    /* Filter non-icons */
    span:not(:empty):not([class*="icon"]):not([id*="icon"]):not([class*="star"]):not([id*="star"]):not([id*="rating"]):not([class*="rating"]):not([class*="prite"]) {

        background: none transparent !important;
        border-color: #000 !important;
    }

    /* Try to contrast containers */
    html:root > body > * > * > * > *:not(input):not([onclick]) > div:not(:empty):not([id]) {
        background: none #1c1c1c !important
    }

    /* :::::::: Text Presentation :::::::: */
    summary,
    details {
        background-color: inherit !important;
    }

    abbr,
    progress,
    time,
    label,
    .date {
        color: #CDEFC2 !important;
    }

    mark,
    code,
    pre,
    blockquote,
    [class*="quote"],
    td[style*="inset"][class="alt2"] {
        background-color: #00090F !important;
    }


    /* :::::::: Headings + Header :::::::: */
    /* Header gradient rules */
    header,
    #header {
        background: -moz-linear-gradient(#333, #141414) transparent !important;
    }

    #header h1 {
        background-color: transparent !important;
    }

    h1,
    h2 {
        background: none #28313E !important;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
    }

    h3,
    h4 {
        background: none #2A3731 !important;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
    }

    h5,
    h6 {
        background: none #372A2A !important;
    }


    /* :::::::: Lists :::::::: */
    dt {
        background-color: #2B3135 !important;
    }

    dl,
    dd {
        background-color: #232323 !important;
    }

    li,
    ul {
        background-color: inherit !important;
    }

    li a:not([class*="icon"]):not([id*="icon"]):not([onclick]),
    dt a:not([class*="icon"]):not([id*="icon"]):not([onclick]) {
        background-image: none !important;
        text-indent: 0 !important;
    }

    /* :::::::: list Item highlight :::::::: */
    li[class*="item"] a:hover,
    li[class*="item"]:hover,

    /* Not list item, but still useful*/
    [class*="menuitem"]:hover {
        background-color: #2E2B2F !important;
    }

    /* :::::::: Tables, cells :::::::: */
    table {
        background-color: #232323 !important;
        border-color: #333 !important;
    }

    table table {
        background: #191919 !important;
    }

    th,
    caption {
        background-color: #353535 !important;
    }

    /* :::::::: Input :::::::: */
    /* === Basic === */
    /* anonymous divs */
    input *,
    textarea * {
        color: #DDD !important;
    }

    html body input:not([type="image"]),
    button,
    html body textarea {

        background: none #353535 !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        color: #DDD !important;
        border: solid 1px #777 !important;
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        opacity: 1 !important;
    }

    /* Style reset. */
    html body input[type="checkbox"] {
        -moz-appearance: checkbox !important;
        -webkit-appearance: checkbox !important;
    }

    html body input[type="radio"] {
        -moz-appearance: radio !important;
        -webkit-appearance: radio !important;
    }

    /* :::::::: Custom styling :::::::: */
    html:root input[type="button"],
    html:root input[type="submit"],
    html:root input[type="reset"],
    html:root button {

        color: #EEE !important;
        background-color: #222437 !important;

        -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 10px rgba(255, 255, 255, 0.1), inset 0 10px 20px rgba(255, 255, 255, 0.15), inset 0 -15px 30px rgba(0, 0, 0, 0.2) !important;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 10px rgba(255, 255, 255, 0.1), inset 0 10px 20px rgba(255, 255, 255, 0.15), inset 0 -15px 30px rgba(0, 0, 0, 0.2) !important;
    }

    html:root input[type="button"]:hover,
    html:root input[type="submit"]:hover,
    html:root input[type="reset"]:hover,
    html:root button:hover {

        color: #FFF !important;
        background-color: #31344F !important;
        border-color: #5F687F !important;

        -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3) !important;
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3) !important;
    }

    html:root input[type="image"] {
        opacity: .85 !important;
    }

    html:root input[type="image"]:hover {
        opacity: .95 !important;
    }

    /* Drop-down menu */
    select,
    option,
    optgroup {

        background: none #383838 !important;
        border-color: #555 !important;
        color: #f1f1f1 !important;
        -moz-appearance: none !important;
    }

    /* :::::::: Misc :::::::: */
    address {
        background: none #333 !important;
    }

    hr {
        background: none #444 !important
    }

    /*currently viewed page*/
    .current {
        color: #FFF !important;
    }

    /* Remove Rounded Corners, Borders, Spacer, Padding images */
    img[src*="spacer"]:empty,
    [id*="round"]:empty,
    [id*="bottom"]:empty,
    [class*="bottom"]:empty,
    [class*="Bottom"]:empty,
    [id*="top"]:empty,
    [class*="top"]:empty,
    [class*="Top"]:empty,
    [class*="spacer"]:empty {
        background-image: none !important;
    }

    /* Menus and Navigation */
    nav,
    menu,

    /*Common naming conventions - in case previous declarations fail to give solid BG*/
    html body [class*="open"],
    html body [id*="Dropdown"],
    html body [id*="dropdown"],
    html body [class*="Dropdown"],
    html body [class*="dropdown"],
    html body [id*="menu"]:not(SELECT),
    html body [class*="menu"]:NOT(SELECT),
    html body [class*="tooltip"],
    html body [class*="popup"],
    html body [id*="popup"],

    /* Notes, details, etc.  Maybe useful */
    html body [class*="note"],
    html body [class*="detail"],
    html body [class*="description"] {
        background-color: #232323 !important
    }

    /* Also common */
    [class*="content"],
    [class*="container"] {
        background-color: #1c1c1c !important;
    }

    /* Headers, Logos */
    [id*="masthead"] a,
    [id*="header"] a,
    [id*="logo"] a,
    [class*="logo"] a {
        text-indent: 0 !important;
    }

    /* Instead of increasing specificity rating by using :not, set rules separately */
    html:root body [class*="layer"],
    html:root body #lightbox-nav,
    html:root body #imageContainer {
        background-color: transparent !important;
    }

    /*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
    /* Universal - sets color of text, border */
    * {
        color: #CCC !important;
        border-color: #444 !important;
        outline-color: #444 !important;
        text-shadow: none !important;
    }

    html *:after,
    html *:before {
        color: #CCC !important;
        border-color: #666 !important;
        background: none transparent !important;
    }


    /* Link */
    a:link,
    a:link *:not(img) {

        color: #B1CBF7 !important;
        background-color: transparent !important;
        border-color: #666 !important;
    }

    a:visited,
    a:visited * {
        color: #CDB4E7 !important;
    }

    a:hover,
    a:hover *:not(img) {

        color: #FFE900 !important;
        background-color: #363037 !important;
        border-color: #999 !important;
    }

    html [href*="#"]:hover {
        color: #FFE900 !important;
        background-color: transparent !important;
    }


    /* Event Handlers/Attributes */
    [onclick],
    [ondblclick],
    [onmousedown] {
        color: #DFD5BC !important;
        text-indent: 0 !important;
    }

    [onclick]:hover,
    [ondblclick]:hover,
    [onmousedown]:hover {
        color: #FEFF97 !important;
    }

    /* Make images transparent */
    img {
        opacity: .75 !important;
    }

    img:hover {
        opacity: 1 !important;
        background-color: #888 !important;
    }

    svg {
        background: none #666 !important;
    }

    /* Highlight */
    ::-moz-selection {
        background-color: #626F61 !important;
        color: #F6F7B9 !important;
    }

    /* :::::::: Specific Fixes :::::::: */
    /* google search link fix */
    .g .r {
        background-color: transparent !important;
    }

    /* google result hover highlight*/
    div.vsc:hover > .vspi,
    div.vso > .vspi {
        background: none transparent !important;
        border: none !important;
    }

window {background: #141414 !important;}

#newtab-scrollbox {
background-color: transparent !important;
background-image: 
    url("chrome://browser/skin/newtab/noise.png"),
    -moz-linear-gradient(transparent,transparent) !important;
    }

.newtab-title {
background-color: rgba(0,0,0,.75) !important;
color: #eee !important;
}


textarea[name='issue[body]'] {
    max-height: 600px !important;
}
}

@-moz-document url-prefix("https://github.com/") {
/* body * {
    background-color: #000000 !important;
}*/

.text-gray,
.text-gray-dark {
    color: #CCC !important;
}

.bg-gray-light,
.SelectMenu-list,
.bg-blue-light,
#ref-list-branches,
#wiki-footer,
.hide-full-screen,
.page-responsive .pagehead,
.js-notification-inboxes,
.js-notification-sidebar-repositories,
.js-notification-sidebar-filters ,
.border-0, .py-2, .m-0,  .d-flex,
.blankslate, .blankslate-spacious,
.color-bg-secondary,

.page-responsive .pagehead,
.js-notification-inboxes,
.js-notification-sidebar-repositories,
.js-notification-sidebar-filters ,
.border-0, .py-2, .m-0,  .d-flex,
.color-bg-canvas,
.color-bg-primary,
.form-checkbox,
.product-callout,
.bg-purple-light,
.bg-gray-light,
.SelectMenu-list,
.bg-blue-light,
#ref-list-branches,
#wiki-footer,
.team-left-column,
.hide-xl,
.hide-lg, 
.width-full,
.bg-white,
.border-bottom,
.py-3, 
.p-responsive,
.color-bg-canvas-inset,
.flex-auto, .px-3, .px-lg-5 {
    background-color: black !important;
}

.color-text-secondary,
.d-flex,
.flex-items-end,
.v-align-baseline,
.ml-1,
.text-mono,
.text-small,
.color-text-primary,
.break-word {
    color:white !important;
}

.text-gray,
.text-gray-dark,
.color-text-secondary,
.color-text-tertiary {
    color: #CCC !important;
}

.f1-light,
.text-gray-light,
.Box-sc-g0xbh4-0 .jJSpep {
    color: gold !important;
}

.tree-browser-result[aria-selected=true] {
    background-color: teal !important;
}

/*
.State--merged {
    background-color: #b87fff !important;
}


html body [class*="open"],
.State--open {
    background-color: #09b43a  !important;
}

.btn-primary:active, .btn-primary.selected, .btn-primary[aria-selected=true] {
    background-color: #09b43a  !important;
}

.btn-primary:hover, .btn-primary.hover, [open]>.btn-primary {
    background-color: #09b43a !important;
    border-color: #09b43a  !important;
}
*/

::-moz-selection {
    color: white !important;
    background-color: #0860C9 !important;
}

::selection {
    color: white !important;
    background-color: #0860C9 !important;  
}

textarea[name='issue_comment[body]'] {
    height: 800px !important;
}
}

@-moz-document url-prefix("https://docs.docker.com/") {
.language-Dockerfile, .highlighter-rouge, code {
        color: white !important;
    }
}

@-moz-document url-prefix("https://docs.microsoft.com/") {
.alert,
    .alert.is-info,
    .alert.is-success,
    .alert.is-info,
    .alert.is-warning {
        /* background: hsla(262, 46%, 90%, 1)!important; */
        /* background: var(--info-background)!important; */
        background-color: black !important;
    }
}

@-moz-document url-prefix("https://blogs.windows.com/") {
.type-curation_post .post-title, .type-curation_post .post-title a, .type-post:not(tr) .post-title, .type-post:not(tr) .post-title a {
        color: white !important;
    }
}

@-moz-document url-prefix("https://overreacted.io") {
body {
        font-family: Arial !important;
    }
}

@-moz-document domain("https://docs.telerik.com") {
.k-in, .k-mid, .k-mid > .k-in, k.in > a {
        color: white !important;
    }
}

@-moz-document url-prefix("https://supportheroes.telerik.com/") {
.editor-attachments,
.flow-editor-wrap,
.pinned-editor-wrap {
    position: static !important;
    border: 1px solid red !important;
}


img[src="App_Themes/Dark/images/ticket-closed.gif"],
img[src="/App_Themes/Dark/images/ticket-closed.gif"],
img[src="/support/assets/ticket-closed.gif"]
{
    background-color: #93f6ff !important;
    margin-left: -50px !important;
    padding: 4px 50px !important;
}
}

@-moz-document url-prefix("https://www.telerik.com/") {
body * {
    font-family: Arial !Important;
}
}

@-moz-document url-prefix("https://devblogs.microsoft.com/") {
.commentlist pre,
.commentlist pre.prettyprinted,
.commentlist pre.prettyprint,
body pre, body pre.prettyprint,
body pre.prettyprinted,
pre code .pln,
span.pln,
pre code.language-assembly span, pre code.language-console span {
    background-color: black !important;
    color: white !important;
}

pre code.language-assembly span, pre code.language-console span,
pre code,
pre code.language-csharp.prettyprinted span {
    background-color: black !important;
    color: gold !important;
}
}

@-moz-document url-prefix("https://instagram-engineering.com/") {
p, body, li, ul, div {
        font-family: Arial !important;
    }
}

@-moz-document url-prefix("https://finance.yahoo.com/") {
.YDC-Lead,
.YDC-Lead-Stack,
div[id],
.Bgc,
.finance,
.US,
.modules_suggestionList__2EooL,
.modules_selectedBackground__3xdSN,
td[aria-label="Symbol"]:hover,
#atomic .Bgc\(\$layoutBgColor\),
#atomic .Bgc\(\$lv1BgColor\),
#atomic .Bgc\(\$lv2BgColor\),
#atomic .Bgc\(\$lv3BgColor\)
{
    background-color: black !important;
}


tr:hover,
td[aria-label="Symbol"]:hover
{
    outline: 1px solid lightgreen !Important;
}
    
#atomic .C\(\$positiveColor\),
._96166592,
.f4be3290 {
    color: #41f390 !important;
}

#atomic .C\(\$negativeColor\),
.c8de4835,
.ee3e99dd {
    color: #f24d61 !important;
}
}

@-moz-document url-prefix("https://www.linkedin.com/") {
.artdeco-card,
.global-nav {
    background-color: black !important;

}
}

@-moz-document url-prefix("https://open.spotify.com/") {
* {
    font-family: Arial !important;

}

span {
    color: white !important;
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.theinvestorspodcast.com/") {
.fusion-header {
    background-color: black !important;

}


.home-blog .entry-title a {
    color: white !important;
}
}

@-moz-document url-prefix("https://www.evernote.com/") {
iframe,
body,
#tinymce {
    color: white !important;
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.imdb.com/") {
#wrapper {
    background-color: black !important;
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.bogleheads.org/") {
body, table {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.investor.bg/") {
.tableForumLast tbody th ,
.nobg {
    background-color: black !important;

}

.over {
    border: 1px solid teal !important;
   background-color: black !important; 
}
}

@-moz-document url-prefix("https://forum.investor.bg/") {
.topic-title {
    color: rgb(177, 203, 247) !important;
}
}

@-moz-document url-prefix("https://teams.microsoft.com/") {
:root {
  --colorNeutralForeground3BrandSelected: red;
  --colorNeutralForeground3: lime;
}

.app-bar-text {
    color: white !important;
    font-size: 1.1rem;
}

.app-bar-text,
.app-bar button {
    color: white !important;
}

.ts-channel-list a {
    /*color: #e6e0e0 !important;*/
    color: white !important;
}

.f14nttnl,
.left-rail-selected *,
.virtual-tree-list-scroll-container div[tabindex='0'] {
    /*color: gold !Important; */
    font-weight: 600 !important;
    background: #4d54ff !important;
    
}


.ts-channel-list a.ts-unread-channel {
    font-weight: 800 !important;
    color: cyan !Important;    
}


.app-bar button.app-bar-link.app-bar-selected,
button.app-bar-link.app-bar-selected,
button[aria-pressed='true'] {
     color: white !Important;
    border: 1px solid white !important;
}

.app-bar .app-bar-link {
    color: white !Important; 
}

.ts-left-rail-wrapper {
    background-color: rgb(31, 31, 31) !important;
}

button[aria-label*=activity],
.ui-tree__item > a[tabindex='0'] {
    /*border: 1px solid red !important;  */
    background: #4d54ff !important;
}

app-header-bar,
.app-header-bar,
.new-post-button,
.app-header-bar-actions {
	background-color: #8a8fff !important;
    background-color: #6264A7 !important;
}

.message-body-content a, 
.fui-Primitive a,
.f1leeax8,
.f16muhyy,
.fyind8e,
/* .f19n0e5,*/
.flh3ekv,
button[data-track-action-scenario="seeLess"],
button[data-track-action-scenario="seeMore"]{
	color: cyan !important;
}

.f11d4kpn {
    color: #fff !Important;
}

span[id*=author] {
    font-size: 14px !important;
    font-weight: bold !Important;
}

[data-tid="timestamp"] {
    color: cyan !important;
    font-size: 12px !important;
    font-weight: bold !Important;
}

div[data-tid="channel-pane-message"] span[id*=author] {
    //background: #4d54ff !important;
}

div[data-tid="channel-replies-pane-message"],
div[id*=message-body] {
    border: 1px solid white !important;
    margin: 2px !Important;
}



div[data-tid="response-surface"] {
    margin-left: 32px !Important;
}

div[data-tid="reply-message-header"] > div.f1vx9l62 {
     border: 0px solid white !important;
    
}

div[data-testid="message-body-flex-wrapper"] {
    border: 0px solid white !important;
}

div[data-tid="post-message-subheader"] span[id*=author] {
   background: #4d54ff !important;
}

.ui-avatar > img {
    width: 2rem !important;
    height: 2rem !important;
}


div[id*=message-body]:has(svg, rect) {
    //border: 1px solid #ffc14d !important;    
}

div[data-tid="chat-pane-item"] {
    padding-bottom: 16px !important;
}

.ui-tree__title:has(.fl43uef) {
    /* background-color: teal !important; */
    border: 2px dotted white !important;
}

.ui-tree__title:has(.fl43uef) * {
    color: cyan !important;
}

ui-tree__item .f19n0e5 {
    color: cyan !important;
}


.globalEventContainer * {
    color: white !Important;
}
}

@-moz-document url-prefix("https://blazor.syncfusion.com/") {
.gatsby-highlight,
.language-csharp,
pre[class*=language-],
code[class*=language-] {
    background-color: black !important;
}
}

@-moz-document url-prefix("https://outlook.office.com/"), url-prefix("https://outlook.office365.com/") {
div[aria-selected='true'],
.C2IG3.wk4Sg {
    background-color: rgb(0, 120, 212) !important;
}
}

@-moz-document url-prefix("https://css-tricks.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://kubernetes.io/") {
.flip-nav .td-navbar {
    background-color: black !important;
}



@-moz-document url-prefix("https://www.gatesnotes.com") {
* {
    font-family: Arial !important;
}





}
}

@-moz-document url-prefix("https://help.syncfusion.com/") {
.left-toc .e-treeview .e-item .e-text {
    background-color: teal !important;
}

.e-item {
    color: black !important;
}

* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://blazor.syncfusion.com/") {
* {
    font-family: Arial !important;
}

.left-toc .e-treeview .e-item .e-text {
    background-color: #8e0bca !important;
    color: white !Important;
}

li.e-item a.e-text.CanSelect {
    color: white !important;
    /* text-shadow: 2px 1px white !Important; */
}

.e-text.CanSelect.node-selected {
    background-color: teal !Important;   
}

a:hover, a.e-text.CanSelect:hover {
    color: yellow !Important;
}
}

@-moz-document url-prefix("https://www.myworkday.com/") {
*,
body,
.WBDV,
.WJBV,
.WDHP,
.WKBB,
.WGHG,
.WAGB,
.WHBQ.WBAQ.WBAB,
.WMDK,
.WJGV,
.WIAB,
.WBHP, 
.WIAB,
.WKGV,
.WCFV,
.WEHP,
.WJGV,
.WIAB,
.WI4-,
.WBCB,
.WIAB,
.WJGB,
.WLDB,
.WJDB,
.wd-ViewPage {
    background-color: black !important;
}

.WED4.WITO.WJDK, .WA-J {
    background-color: teal !important;
    color: white !important;
}

.WED4.WITO.WJDK:hover,
.WF-J.WF5 {
    background-color: teal !important;
    color: yellow !important;
}

#app-chrome-container {
    background-color: teal !important;
}

#mainContent, .WPGQ {
    background-color: black !important;
}

.WCKK {
    background-color: black !important;
}

.WIS4.WJ0O.WPJK {
    background-color: black !important;
    color: white !important;
    border: 1px dotted white !important;
}


li.WKYJ a,
a.WIS4.WJ0O.WPJK:hover,
a.WKB3.WO5N.WHYJ,
a.WKB3.WO5N.WHYJ:hover,
.WCD3 .WF5 .WK-J,
.WI1F,
a.WEA3.WFAO.WNYJ, a.WEA3.WFAO.WNYJ:hover {
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
}

.WEON.WION.WJ0O.WEBO.WCNN {
     background-color: black !important;
}

.WEON.WJ0O.WEBO.WIPN.WHON {
    color: black !important;
}

.WEON.WJ0O.WEBO.WIPN.WHON span.WGON {
    color: black !important;
}
}

@-moz-document url-prefix("https://cloud.workhuman.com/") {
*,
body,
body * {
    background-color: black !important;
}
}

@-moz-document url-prefix("https://kendobuild-staging.dev.progress.com/j") {
pre {
    background-color: black !important;
    color: white !Important;
}
}

@-moz-document url-prefix("https://nextword.substack.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://progresssoftware.aha.io") {
li.card.improved-card.ui-sortable-handle {
    background-color: black !important;
    color:white !Important;
}
}

@-moz-document url-prefix("https://progresslms.docebosaas.com/") {
body *,
.brand--body, .brand--body *,
.fr-view {
    font-family: Arial !important;
}

:root {

    --font-family-body: Arial !important;
    --font-family-head: Arial !important;
    --font-family-ui: Arial !important;
}
}

@-moz-document url-prefix("https://content-security-policy.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://hbr.org/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://medium.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://huggingface.co/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.perplexity.ai/") {
* {
    font-family: Arial !important;
    font-weight: bold !important;
}

.z-10 {
    z-index: 0 !important;
}
}

@-moz-document url-prefix("https://thinkingmachines.ai/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.interactivebrokers") {
* {
    font-family: Arial !important;
}


.quote-price.text-semibold span {
    border: 1px solid yellow !important;
    color: yellow !important;
    font-size: 26px !important;
}

._nneg {
    color: #17f1ff !important;
}

._npos {
    color: lightgreen !important;
}

.ellipsis * {
    
    color: yellow !important;
}

.quote-bidask * {
    color: yellow !important;
    font-size: 26px !important;
}


.quote-compact-widgets * {
    color: yellow !important;
    font-size: 20px !important;
}

.pos-widget.pcon-widget * {
    color: yellow !important;
    font-size: 16px !important; 
}


.quote-symbol *,
.title-l31H9iuA {
    color: yellow !Important;
    font-size: 32px !important;
}

#cp-ptf-positions-table0 > colgroup > col:nth-child(3) {
    width: 100px !important; 
}
}

@-moz-document url-prefix("https://www.youtube.com") {
.ytp-overlays-container {
    position: static !important;
    width: 1px !important;
    height: 1px !important;
}



}
