@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Browser Background */
browser[type="content-primary"] {
background-color: #141414 !important;
}

@-moz-document url("about:newtab") {
window {background: #141414 !important;}

#newtab-scrollbox {
background-color: transparent !important;
background-image: 
    url("chrome://browser/skin/newtab/noise.png"),
    -moz-linear-gradient(transparent,transparent) !important;
    }

.newtab-title {
background-color: rgba(0,0,0,.75) !important;
color: #eee !important;
}
}

@-moz-document url("about:blank") {
html, html * {
  background: none #141414 !important;
  color: #CCC !important;
  }
}

@-moz-document url-prefix("about:neterror") {
html, body {
background-color: #353535 !important;
color: #CCC !important;
}

#errorPageContainer {
background-color: #222 !important;
border-color: #666 !important;
}

#errorPageContainer button {
opacity: .8 !important;
}

/*resurrect pages FF extension*/
#resurrect {
background-color: #333 !important;
border-color: #000 !important;
}
}

@-moz-document url-prefix("https://winslaveblazor.openstack.progress.com/blazor-ui"), url-prefix("https://demos.telerik.com/blazor-ui/grid/"), url-prefix("http://localhost:3000/"), url-prefix("http://localhost:8888/"), url-prefix("https://localhost:44382/"), url-prefix("https://localhost:53297/"), regexp(".*/blazor-playground-client.*"), regexp(".*/blazor-playground-server.*"), regexp(".*/blazor-ui.*"), regexp(".*/kendo-ui.*") {
.k-state-focused,
.k-focus {
    border: 1px solid  lime !important;
    /*color: red !important;*/
}

.k-selected,
.k-list-item.k-selected {
    
    border: 1px solid cyan !important;
}

::placeholder {
    color: orange !important;
    opacity: 1;
}

.k-floating-label-container .k-input input, 
.k-floating-label-container .k-input textarea,
.k-floating-label-container .k-input-inner {
    background: transparent !important;
}

.k-floating-label-container .k-label {
    color: cyan !important;
}

[class*="menu"],
.k-columnmenu-item.k-state-selected,
.k-state-selected,
.k-selected,
.k-treeview-leaf .k-selected {
    background-color: teal !important;
}

.k-range-mid {
    background-color: teal !important;
    opacity: 0.5;
}

.k-state-active,
.k-grid-column-menu.k-grid-filter.k-state-active,
.k-grid-column-menu.k-grid-filter.k-active,
.k-grid-column-menu.k-grid-header-menu.k-active {
    background-color: cyan !important;
    border: 1px solid cyan !important;
}

.k-grid-column-menu.k-grid-header-menu.k-active {
    background-color: orange !important;
}


*:focus, button:focus, input:focus {
    outline: none;
    box-shadow: inset 4px 5px 0px 0px yellow !important;
    font-style: italic !important;
    color: yellow !important;
    font-weight: bold;
}

.k-upload .k-upload-files .k-progress {
    height: 20px !important;
    /* background-color: #0058e9 !important; */
    background-color: teal !important;

}

.k-grid-content-sticky, .k-grid-header-sticky, .k-grid-footer-sticky {
    border-bottom: 1px solid yellow !important;
    border-left: 1px solid yellow !important;
    background-color: teal !important;    
} 

.k-state-invalid,
input.k-state-invalid,
.k-textbox.k-state-invalid,
.k-numerictextbox.k-state-invalid {
    border: 1px solid red !important;
}

.k-splitter {
     border: 1px solid red !important;
}

.k-ghost-splitbar .k-icon, .k-splitbar .k-icon {
    font-size: 32px !important;
}

.k-grouping-dropclue {
    border: 1px solid cyan !important;
}

.k-grouping-dropclue:before,
.k-grouping-dropclue:after {
     border: 1px solid red !important;
}

.k-drag-clue {
    border: 1px solid cyan !important;
}


.k-resize-handle,
.k-column-resizer {
    border: 1px solid red !important;
}


.k-splitbar {
    background-color: red !important;
     
}

.k-splitter-overlay {
    opacity: 0.5 !important;
    background-color: yellow !important;
}

.k-pane {
    background-color: teal !important;
    opacity: 0.8;
}

textarea {
    background-color: black !important;
}

.k-pdf-viewer .k-page .k-text-layer > span {
    background-color: brown !important;
    color: white !important;
}

.k-search-highlight {
    background-color: cyan !important;
}

.k-search-highlight mark,
.k-search-highlight-mark {
    background-color: yellow !important;
}

.k-loader-container-inner {
    background-color: white !important;
}

.k-skeleton {
    border: 1px solid lime !important;
    background-color: #ffa500 !important;
}

.k-marquee, .k-marquee-color {
    border: 1px solid orange !important;
    background-color: orange !important;
    opacity: 0.5 !important;
}

.k-highlighted {
    background-color: brown !important;
}

.k-segmented-control-button.k-selected {
     border: 1px solid orange !important;
}

.k-segmented-control-thumb {
    color: cyan !important;
    border: 1px cyan !important;
    background: orange !omporant;
}
}

@-moz-document url-prefix("http://example.com") {

}

@-moz-document url-prefix("https://www.linkedin.com/") {
.artdeco-card,
.global-nav {
    background-color: black !important;
}
}

@-moz-document url-prefix("https://demos.telerik.com/aspnet-ajax"), url-prefix("https://localhost:44319/"), url-prefix("http://localhost:58448/") {
.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {
    background-color: black !important;
    color: white !important;
}


.syntaxhighlighter .plain, 
.syntaxhighlighter .plain a {
      color: white !important;
}

.xml .keyword {
      color: white !important;
}

.xml .string {
      color: cyan !important;
}

.xml .color1,
.syntaxhighlighter .xml.color1, 
.syntaxhighlighter .xml.color1 a,
.syntaxhighlighter .c-sharp.string, 
.syntaxhighlighter .vb.string, 
.syntaxhighlighter .css.keyword {
      color: yellow !important;
}

.syntaxhighlighter .xml.keyword, .syntaxhighlighter .css.plain, .syntaxhighlighter .js.string {
    color: pink !important;
}

a, .syntaxhighlighter .string a {
    color: lightblue !important;
}
}

@-moz-document url-prefix("https://localhost:44319/"), url-prefix("http://localhost:62337/") {
.rpgFieldItem, .RadPivotGrid_Default .rpgUpdateButton {
     background-image: none !important;
}

 .rpgAllFieldsContainer {
    width: 100% !important;
}
}

@-moz-document url-prefix("https://challengeaccepted.dev/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://qachallengeaccepted.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.telerik.com/devreach") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://careershow.bg/") {
*, span, div {
    font-family: Arial !important;
    font-weight: 500 !important;
}

div, span, .container-program, .box-lecture, .w-richtext {
    background-color: black !important;
    color: white !important;
}

#hs-web-interactives-top-anchor {
    width: 0% !important;
    height: 0% !important;
}
}

@-moz-document url-prefix("https://www.cnbc.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://kaksepishe.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://blog.palantir.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.tradingview") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://roguefunds.substack.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.codeofhonor.com/") {
* {
    font-family: Arial !important;
}

#content {
    width: 90% !Important;
    text-align: justify;
}
}

@-moz-document url-prefix("https://stocktwits.com/") {
.stx-float-date {
    background-color: black !important;
    color: white !important;
}
}

@-moz-document url-prefix("https://dev.bg") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://x.com/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.capital.bg/") {
* {
    font-family: Arial !important;
}
}

@-moz-document url-prefix("https://www.perplexity.ai/") {
.z-10 {
    z-index: unset !important;
}
}

@-moz-document url-prefix("https://localhost:44347/") {
.k-bg-light,
.terms-of-use-notification, 
.terms-of-use-notification > *,
.prompt-textarea, textarea.prompt-textarea:focus {
    background-color: black !important;
}
}

@-moz-document url-prefix("https://www.progress.com/") {
.-bg-white, .-tint-white {
    background-color: black !important;
}
}

@-moz-document url-prefix("https://www.youtube.com") {
.ytp-overlays-container {
    position: static !important;
    width: 1px !important;
    height: 1px !important;
}
}
